<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DRRMSystem.Properties.Settings.dbGraphConnectionString"
            connectionString="Data Source=DESKTOP-EAN1JK1\SQLEXPRESS;Initial Catalog=dbGraph;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DRRMSystem.Properties.Settings.dbSearchConnectionString"
            connectionString="Data Source=DESKTOP-EAN1JK1\SQLEXPRESS;Initial Catalog=dbSearch;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>